
/* Igor Stefaniak 2022 */

:root {
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --n-background: #0c0f11;
  --n-lighter-background: #1a2025;
  --n-element: #2d353e;
}

* {
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body {
  background: url("../images/background-pattern.png"), var(--n-background);
  height: 100%;
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

._vanish {
  visibility: hidden;
  opacity: 0;
}

/* -------------- */

.top-navbar {
  position: fixed;
  top: 25px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--n-lighter-background);
  border-radius: 30px 30px 30px 30px;
  padding: 10px 0px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.5);
  right: 100px;
  left: 100px;
  z-index: 100;
}
/* --- */
.left-navbar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.left-navbar img {
  display: block;
  height: 80px;
}
#hello-text{
  font-size: 12px;
}
/* --- */
.center-navbar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  width: calc(100% - 480px);
  max-width: 754px;
}
.finder form input[type=search] {
  margin: 8px;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  font-family: 'Lato', sans-serif;
  background: var(--n-element);
  color:white;
  width: calc(900% - 70px);
  text-indent: 10px;
  height: 32px;
  transition: all .20s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  font-family: 'Lato', sans-serif;
}

.finder form input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(../images/x-icon.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  
}
.finder form input[type=search]:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
  padding: 1px;
}
.finder form input[type=search]:focus-visible{
  outline: solid white 3px;
}

.finder, .finder form{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.finder form button {
  border: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 20px;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
  text-decoration: none;
}
.finder form button:hover:not(.isactive .user-menu) {
  transform: scale(1.2);
}
.finder form button.active {
  color: rgb(53, 53, 53);
  background-color: rgb(255, 255, 255, 0.18);
}
.finder form button i {
  font-size: 24px;
  pointer-events: visible;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.finder #dropdown{
  top: 95px;
  position: fixed;
  width: max-content;
  background: var(--n-lighter-background);
  border-radius: 16px;
  padding: 10px 0px;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 50%);
  z-index: 100;
  transition: all 0.5s ease-in-out;
}
.finder #dropdown:hover{
    visibility: visible;
    opacity: 1;
}
#dropdown ul li{
  list-style-type: none;
  padding: 8px;
  width: 90%;
}
#dropdown ul li::before {
  content: "🔎 ";
}
#dropdown ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-list-el:hover{
  font-weight: bolder;
}
#dropdown > #list li:nth-child(n){
  border-top:1px solid #2d353e
}
#dropdown > #list li:first-child{
  border-top: 0;
}
/* --- */
.items-navbar{
  align-items: center;
  display: flex;
}
.top-navbar .button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 20px;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
  text-decoration: none;
}
.top-navbar .button:hover:not(.isactive .user-menu) {
  transform: scale(1.2);
}
.top-navbar .button.active {
  color: rgb(53, 53, 53);
  background-color: rgb(255, 255, 255, 0.18);
}
.top-navbar .button i {
  font-size: 24px;
  pointer-events: visible;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
/* --- */
.right-navbar .avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar img {
  border-radius: 70px;
  border: #ffffff;
  border-style: solid;
  border-width: 3px;
  height: 32px;
}
.avatar .is-active{
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #12151e;
  background: #21fc6b;
  left: -10px;
  top: -8px;
}
.user-button{
  cursor: pointer;
}
.user-button:hover + #user-menu{
  visibility: visible;
  opacity: 1;
}
#user-button:not(:hover) + #user-menu{
  visibility: hidden;
  opacity: 0;
}
.user-menu ul li{
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}
.user-menu ul li a{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
}
.user-menu ul li a:hover{
  transform: scale(1.1);
}
.user-menu ul li a i{
  margin-right: 10px;
}
.user-menu{
  position:fixed;
  border-radius: 10px;
  width: 140px;
  background: var(--n-lighter-background);
  z-index: 9090999;
  top: 95px;
  transition: 0.45s ease-out;
}
.user-menu ul li {
  margin: 0.5rem;
  font-size: 15px;
}
.user-menu ul{
  margin: 8px 2px 2px 2px;
}
#user-menu:hover {
  visibility: visible;
  opacity: 1;
}
.user-button:hover + #user-menu{
  visibility: visible;
  opacity: 1;
}
#user-button:not(:hover) + #user-menu{
  visibility: hidden;
  opacity: 0;
}
.user-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}
/* --- */
.top-tags {
  height: 60px;
  display: flex;
  position: fixed;
  top: 95px;
  right: 150px;
  left: 150px;
  align-items: center;
  justify-content: center;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
  visibility: hidden;
}
.top-tags > * {
  visibility: visible;
  transition: opacity 200ms;
}
.top-tags > a {
  display:table;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 30px 30px;
  padding: 10px 25px 10px 25px;
  margin: 5px 10px 5px 10px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.5);
  font-size: 15px;
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.top-tags > a:hover {
  transform: scale(1.2);
  font-weight: 800;
}
.top-tags:hover > :not(:hover) {
  opacity: 0.5;
}

#mouse{
  width: 25px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 20px;
  display: flex;
  bottom: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
 }
 .mouse-wheel{
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
 }

 @keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

#networkstatus {
  position: fixed;
  background: var(--n-lighter-background);
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 50%);
  right: 10px;
  bottom: 10px;
  padding: 10px;
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  font-family: 'Lato';
}

@media (max-width: 1020px), screen and (orientation: portrait) { 
    .nickname, #hello-text, .items-navbar{display: none;}
    .top-navbar{height: 48px; left:10px; right:10px;}
    .center-navbar{ width: -webkit-fill-available;}
    .finder input[type=text] {margin: 8px; font-size: 12px; width: calc(900% - 20px);}
    .top-tags a{font-size: 12px; height: 30px; padding: 10px 15px 10px 15px;}
    .top-tags{flex-wrap: wrap; left: 25px; right: 25px;}
    .user-menu{right: 10px; width: 180px;}
    .user-menu ul li {font-size: 16px; margin: 10px;}
    .finder button {margin-right: 8px;}
    .left-navbar img {display: block;height: 40px;}
    .placeholders > ul li {width: 335px!important;}
 }
 
::-webkit-scrollbar{
  width: 8px;
 }
::-webkit-scrollbar-thumb{
  background: var(--n-element);
  border-radius: 8px;
}
::-webkit-scrollbar-track{background: var(--n-lighter-background);}
