
/* Igor Stefaniak 2022 */

* {
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body {
  background-image: url("../images/background-pattern.png"), linear-gradient(96deg,#0e1118, #262e3f);
  height: 100%;
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

._vanish {
  visibility: hidden;
  opacity: 0;
}

/* -------------- */

.navbar {
  position: fixed;
  top: 25px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.418);
  border-radius: 30px 30px 30px 30px;
  padding: 10px 0px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.5);
  right: 100px;
  left: 100px;
  z-index: 100;
}
/* --- */
.left-navbar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.left-navbar img {
  display: block;
  height: 80px;
}
.hello-text{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #262e3f;
}
/* --- */
.center-navbar {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  width: calc(100% - 480px);
  max-width: 754px;
}
.finder input[type=search] {
  margin: 16px;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  font-family: 'Lato', sans-serif;
  background: #1f2531;
  color:white;
  width: calc(900% - 70px);
  text-indent: 10px;
  height: 32px;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
}
.finder input[type=search]:hover{
  transform: scale(1.03);
}
.finder{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}
.finder button {
  border: 0 ;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 20px;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
  text-decoration: none;
}
.finder button:hover:not(.isactive .user-menu) {
  transform: scale(1.2);
}
.finder button.active {
  color: rgb(53, 53, 53);
  background-color: rgb(255, 255, 255, 0.18);
}
.finder button i {
  font-size: 24px;
  pointer-events: visible;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
/* --- */
.items-navbar{
  align-items: center;
  display: flex;
  margin-left: 15px;
}
.navbar .button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 20px;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
  text-decoration: none;
}
.navbar .button:hover:not(.isactive .user-menu) {
  transform: scale(1.2);
}
.navbar .button.active {
  color: rgb(53, 53, 53);
  background-color: rgb(255, 255, 255, 0.18);
}
.navbar .button i {
  font-size: 24px;
  pointer-events: visible;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
/* --- */
.right-navbar .avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar img {
  border-radius: 70px;
  border: #ffffff;
  border-style: solid;
  border-width: 3px;
  height: 32px;
}
.avatar .is-active{
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #12151e;
  background: #21fc6b;
  left: -10px;
  top: -8px;
}
.user-button{
  cursor: pointer;
}
.user-button:hover + #user-menu{
  visibility: visible;
  opacity: 1;
}
#user-button:not(:hover) + #user-menu{
  visibility: hidden;
  opacity: 0;
}
.user-menu ul li{
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}
.user-menu ul li a{
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  transition: all .20s cubic-bezier(0.4, 0, 1, 1);
}
.user-menu ul li a:hover{
  transform: scale(1.1);
}
.user-menu ul li a i{
  margin-right: 10px;
}
.user-menu{
  position:fixed;
  border-radius: 10px;
  width: 140px;
  background: rgba(18, 21, 30,.40);
  z-index: 9090999;
  top: 95px;
  transition: 0.45s ease-out;
}
.user-menu ul li {
  margin: 0.5rem;
  font-size: 15px;
}
.user-menu ul{
  margin: 8px 2px 2px 2px;
}
#user-menu:hover {
  visibility: visible;
  opacity: 1;
}
.user-button:hover + #user-menu{
  visibility: visible;
  opacity: 1;
}
#user-button:not(:hover) + #user-menu{
  visibility: hidden;
  opacity: 0;
}
.user-menu ul {list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}